@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap");
:root {
  --clr-bg: #c8c8c8;
  --clr-pri: #ff3838;
  --clr-lit: #fff;
  --clr-drk: #000;
  --fs-xs: 1rem;
  --fs-s: 1.125rem;
  --fs-m: 1.25rem;
  --fs-l: 1.5rem;
  --fs-xl: 1.75rem;
  --fs-xxl: 2rem;
  --fs-xxxl: 4rem;
  --ff-tit: "Bebas Neue", sans-serif;
  --ff-reg: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-reg);
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--clr-lit);
  width: 100%;
}

a,
a:active,
a:hover,
a:target,
a:focus {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

*::-moz-selection {
  color: var(--clr-lit);
  background: var(--clr-pri);
}

*::selection {
  color: var(--clr-lit);
  background: var(--clr-pri);
}

.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  opacity: 1;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.pre-loader.hidden {
  visibility: hidden;
  opacity: 0;
}
.pre-loader .lds-ripple {
  display: inline-block;
  position: relative;
  margin-inline: auto;
  width: 6rem;
  height: 6rem;
}
.pre-loader .lds-ripple div {
  position: absolute;
  border: 4px solid var(--clr-pri);
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.pre-loader .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.header {
  background-color: transparent;
  padding-inline: clamp(1.25rem, 3vw, 10rem);
  padding-block: 1rem;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  color: var(--clr-lit);
  transition: all 0.4s ease-in-out;
}
.header.sticky {
  color: var(--clr-pri);
  padding-block: 0.5rem;
  background-color: var(--clr-lit);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.header .brand {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .brand * {
  color: inherit;
  font-size: var(--fs-xl);
}
.header .fa-burger {
  z-index: 100;
  font-size: var(--fs-xl);
  border-radius: 0.5rem;
  padding: 0.1rem;
  margin-right: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background: linear-gradient(180deg, rgb(223, 196, 7) 0%, rgb(223, 196, 7) 45%, rgb(5, 255, 0) 45%, rgb(5, 255, 0) 70%, rgb(223, 196, 7) 70%, rgb(223, 196, 7) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header .fa-burger:hover {
  opacity: 0.8;
}
.header .nav {
  font-size: var(--fs-m);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  bottom: 0;
  left: 100%;
  background-color: var(--clr-lit);
  padding-top: 10rem;
  overflow-y: auto;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.header .nav.active {
  transform: translateX(-100%);
}
@media (min-width: 780px) {
  .header .nav.active {
    transform: translateX(0);
  }
}
.header .nav.active ~ .fa-burger {
  background: linear-gradient(180deg, rgb(223, 196, 7) 0%, rgb(223, 196, 7) 45%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0.5) 70%, rgb(223, 196, 7) 70%, rgb(223, 196, 7) 100%);
  -webkit-background-clip: text;
  background-clip: text;
}
.header .nav a {
  text-align: center;
  transition: color 0.2s ease-in-out;
  padding-block: 0.5rem;
  width: 70vw;
  color: var(--clr-drk);
}
.header .nav a:hover {
  opacity: 0.75;
}
@media (min-width: 780px) {
  .header .nav {
    position: static;
    flex-direction: row;
    align-items: center;
    z-index: auto;
    background-color: transparent;
    padding-top: 0;
    overflow-y: visible;
    transition: all 0s ease-in-out 0s;
  }
  .header .nav a {
    font-weight: 300;
    width: auto;
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    color: var(--clr-lit);
  }
  .header .fa-burger {
    display: none;
  }
  .header.sticky .nav a {
    color: var(--clr-drk);
  }
}

section {
  text-align: center;
}
@media (min-width: 850px) {
  section {
    text-align: left;
  }
}
section:not(:first-of-type) {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
section .pre-head {
  color: var(--clr-drk);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
section .head {
  color: var(--clr-pri);
  margin-top: 0.2rem;
  line-height: 1.1;
  font-size: 2.25rem;
  font-weight: bold;
  font-family: var(--ff-tit);
}
section .btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  z-index: 0;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.75rem 2rem;
  color: var(--clr-lit);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}
section .btn::before, section .btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70%;
  border-radius: 0.7rem;
  background: var(--clr-pri);
  z-index: -1;
}
section .btn::before {
  left: 0;
  right: auto;
}
section .btn::after {
  left: auto;
  right: 0;
  transform: skewX(-20deg);
}
section .btn.alt::before {
  background: #404040;
  left: auto;
  right: 0;
}
section .btn.alt::after {
  background: #404040;
  left: 0;
  right: auto;
}
section .btn:hover::before, section .btn:hover::after {
  filter: brightness(0.94);
}
section .btn i {
  padding-right: 0.3rem;
}

section.hero {
  width: 100%;
  overflow: hidden;
  cursor: default;
}
section.hero .item {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: center bottom;
  color: var(--clr-lit);
  display: flex;
  align-items: center;
  justify-content: center;
}
section.hero .item-1 {
  background-image: url(../img/hero-1.jpg);
}
section.hero .item-2 {
  background-image: url(../img/hero-2.jpg);
}
section.hero .item .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.hero .item .title {
  font-size: clamp(3rem, 10vw, 4.5rem);
  font-family: var(--ff-tit);
  line-height: 1.1;
  text-transform: uppercase;
  text-shadow: 0 0.25rem 0.3rem rgba(0, 0, 0, 0.3);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem;
  margin-top: 0.5rem;
}
section.hero .item .subtitle {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
}
section.hero .item .btns {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
section.hero .swiper-pagination-bullet {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 10rem;
  background-color: var(--clr-lit);
  background-color: var(--clr-bg);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
section.hero .swiper-pagination-bullet-active {
  opacity: 1;
  width: 1.5rem;
}
@media (max-width: 460px) {
  section.hero .item .btns {
    flex-direction: column;
    gap: 1.5rem;
  }
  section.hero .btn::before {
    left: auto;
    width: 0;
  }
  section.hero .btn::after {
    left: 0;
    width: 100%;
  }
}

section.about {
  position: relative;
}
section.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../img/demo.jpg) no-repeat fixed;
  background-color: red;
  z-index: -1;
  opacity: 0.4;
}
section.about .wrapper {
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: min(1000px, 90vw);
  margin-inline: auto;
}
@media (min-width: 850px) {
  section.about .wrapper {
    flex-direction: row;
  }
}
section.about .pics {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-content: center;
}
@media (min-width: 600px) {
  section.about .pics {
    grid-template-columns: 1fr 1fr;
    transition: all 0.2s ease-in-out;
  }
  section.about .pics img:hover {
    transform: scale(1.5);
  }
  section.about .pics img:nth-child(1) {
    transform-origin: top left;
  }
  section.about .pics img:nth-child(2) {
    transform-origin: top right;
  }
  section.about .pics img:nth-child(3) {
    transform-origin: bottom left;
  }
  section.about .pics img:nth-child(4) {
    transform-origin: bottom right;
  }
  section.about .pics img:nth-child(1):hover {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
  }
  section.about .pics img:nth-child(2):hover {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
  }
  section.about .pics img:nth-child(3):hover {
    border-top: 2px solid white;
    border-right: 2px solid white;
  }
  section.about .pics img:nth-child(4):hover {
    border-top: 2px solid white;
    border-left: 2px solid white;
  }
}
section.about .pics .img {
  background-image: url(../img/demo.jpg);
  background-size: cover;
  min-width: 200px;
  border-radius: 0.5rem;
  aspect-ratio: 4/3;
}
section.about .paragraph {
  font-size: 1rem;
  color: var(--clr-drk);
  color: #333;
}
section.about .paragraph p {
  margin-top: 0.7rem;
  line-height: 1.4;
}
section.about .paragraph p .strong {
  color: var(--clr-pri);
  font-weight: 700;
}
section.about .btn {
  margin-top: 1.5rem;
}

section.specials .wrapper {
  text-align: center;
  width: 100%;
}
section.specials .cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: min(1200px, 85vw);
  margin-inline: auto;
}
@media (min-width: 576px) {
  section.specials .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 800px) {
  section.specials .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  section.specials .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
section.specials .card {
  cursor: default;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1333333333);
  transition: translate 0.1s ease-in-out;
}
section.specials .card:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3333333333);
  translate: 0 -4px;
}
section.specials img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
section.specials .title {
  font-size: var(--fs-l);
  font-weight: 700;
  margin-top: 0.5rem;
}
section.specials .pricing {
  margin-top: 0.3rem;
}
section.specials .btns {
  margin: 0.5rem;
}
section.specials .btn.alt {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

@media print {
  .header {
    justify-content: center;
  }
  .header > *:not(.page-logo) {
    display: none;
  }
}
.aside .backdrop {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--clr-drk);
}
.aside .backdrop.active {
  visibility: visible;
  opacity: 0.75;
}
.aside .dialogue {
  opacity: 0;
  visibility: hidden;
  font-size: 2rem;
  position: fixed;
  z-index: 49;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--clr-lit);
  font-weight: 700;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
}
.aside .dialogue.active {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=main.css.map */
