//Variables
:root {
  --clr-bg: #c8c8c8;
  --clr-pri: #ff3838;
  --clr-lit: #fff;
  --clr-drk: #000;
  --fs-xs: 1rem;
  --fs-s: 1.125rem;
  --fs-m: 1.25rem;
  --fs-l: 1.5rem;
  --fs-xl: 1.75rem;
  --fs-xxl: 2rem;
  --fs-xxxl: 4rem;
  --ff-tit: "Bebas Neue", sans-serif;
  --ff-reg: "Roboto", sans-serif;
}

// Third Party
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&display=swap");

//Default Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-reg);
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: var(--clr-lit);
  width: 100%;
}
a,
a:active,
a:hover,
a:target,
a:focus {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
*::selection {
  color: var(--clr-lit);
  background: var(--clr-pri);
}

.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  opacity: 1;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transform-origin: top left;

  &.hidden {
    visibility: hidden;
    opacity: 0;

    & > * {
      transform: scale(0);
    }
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    margin-inline: auto;
    width: 6rem;
    height: 6rem;
    transition: all 1s ease;
    div {
      position: absolute;
      border: 4px solid var(--clr-pri);
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

      &:nth-child(2) {
        animation-delay: -0.5s;
      }
    }
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

// -------Header Styles---------
// -----------------------------
.header {
  background-color: transparent;
  padding-inline: clamp(1.25rem, 3vw, 10rem);
  padding-block: 1rem;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  color: var(--clr-lit);
  transition: all 0.4s ease-in-out;

  &.sticky {
    color: var(--clr-pri);
    padding-block: 0.5rem;
    background-color: var(--clr-lit);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }

  .brand {
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    * {
      color: inherit;
      font-size: var(--fs-xl);
    }
  }
  .fa-burger {
    z-index: 100;
    font-size: var(--fs-xl);
    border-radius: 0.5rem;
    padding: 0.1rem;
    margin-right: 0.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    // To make the gradient
    background: linear-gradient(
      180deg,
      rgba(223, 196, 7, 1) 0%,
      rgba(223, 196, 7, 1) 45%,
      rgba(5, 255, 0, 1) 45%,
      rgba(5, 255, 0, 1) 70%,
      rgba(223, 196, 7, 1) 70%,
      rgba(223, 196, 7, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    // -webkit-text-fill-color: transparent;

    &:hover {
      opacity: 0.8;
    }
  }
  .nav {
    font-size: var(--fs-m);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    bottom: 0;
    left: 100%;
    background-color: var(--clr-lit);
    padding-top: 10rem;
    overflow-y: auto;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;

    &.active {
      transform: translateX(-100%);
      @media (min-width: 780px) {
        transform: translateX(0);
      }

      & ~ .fa-burger {
        // color: var(--clr-drk);

        // Decorated
        background: linear-gradient(
          180deg,
          rgba(223, 196, 7, 1) 0%,
          rgba(223, 196, 7, 1) 45%,
          rgba(0, 0, 0, 0.5) 45%,
          rgba(0, 0, 0, 0.5) 70%,
          rgba(223, 196, 7, 1) 70%,
          rgba(223, 196, 7, 1) 100%
        );
        -webkit-background-clip: text;
        background-clip: text;
      }
    }

    a {
      text-align: center;
      transition: color 0.2s ease-in-out;
      padding-block: 0.5rem;
      width: 70vw;
      color: var(--clr-drk);

      &:hover {
        opacity: 0.75;
      }
    }
  }
  // Header Media Queries
  @media (min-width: 780px) {
    .nav {
      position: static;
      flex-direction: row;
      align-items: center;
      z-index: auto;
      background-color: transparent;
      padding-top: 0;
      overflow-y: visible;
      transition: all 0s ease-in-out 0s;
      a {
        font-weight: 300;
        width: auto;
        padding-inline: 0.75rem;
        padding-block: 0.25rem;
        color: var(--clr-lit);
      }
    }
    .fa-burger {
      display: none;
    }

    &.sticky {
      .nav a {
        color: var(--clr-drk);
      }
    }
  }
}

// -------Sections' Global------
// -----------------------------
section {
  text-align: center;

  @media (min-width: 850px) {
    text-align: left;
  }

  &:not(:first-of-type) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .pre-head {
    color: var(--clr-drk);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .head {
    color: var(--clr-pri);
    margin-top: 0.2rem;
    line-height: 1.1;
    font-size: 2.25rem;
    font-weight: bold;
    font-family: var(--ff-tit);
  }

  // Default Button Styles
  .btn {
    width: max-content;
    position: relative;
    z-index: 0;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.75rem 2rem;
    color: var(--clr-lit);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 70%;
      border-radius: 0.7rem;
      background: var(--clr-pri);
      z-index: -1;
    }
    &::before {
      left: 0;
      right: auto;
    }
    &::after {
      left: auto;
      right: 0;
      -webkit-transform: skewX(-20deg);
      -moz-transform: skewX(-20deg);
      -o-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
      transform: skewX(-20deg);
    }

    &.alt {
      &::before {
        background: #404040;
        left: auto;
        right: 0;
      }
      &::after {
        background: #404040;
        left: 0;
        right: auto;
      }
    }

    &:hover::before,
    &:hover::after {
      // background: green;
      filter: brightness(0.94);
    }
    i {
      padding-right: 0.3rem;
    }
  }
}

// ---------Hero Section--------
// -----------------------------
section.hero {
  width: 100%;
  overflow: hidden;
  cursor: default;
  .item {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background-size: cover;
    color: var(--clr-lit);
    display: flex;
    align-items: center;
    justify-content: center;

    .bg-img {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
    }
    .bg-img-1 {
      background-image: url(../img/hero-1.jpg);
    }
    .bg-img-2 {
      background-image: url(../img/hero-2.jpg);
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .title {
      font-size: clamp(3rem, 10vw, 4.5rem);
      font-family: var(--ff-tit);
      line-height: 1.1;
      text-transform: uppercase;
      text-shadow: 0 0.25rem 0.5rem #0008;
      width: fit-content;
      padding: 0.75rem;
      margin-top: 0.5rem;
    }
    .subtitle {
      font-size: 1rem;
      font-weight: 300;
      margin-top: 0.5rem;
      text-shadow: 0 0 0.5rem #000;
    }
    .btns {
      margin-top: 2rem;
      display: flex;
      gap: 2rem;
    }
  }
  // Swiper Styles
  .swiper-pagination-bullet {
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 10rem;
    background-color: var(--clr-lit);
    background-color: var(--clr-bg);
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    width: 1.5rem;
  }

  @media (max-width: 460px) {
    // .title {font-size: 3.5rem;}
    .item .btns {
      //double selector to overwrite the previous style with same specificity
      flex-direction: column;
      gap: 1.5rem;
    }
    .btn {
      &::before {
        left: auto;
        width: 0;
      }
      &::after {
        left: 0;
        width: 100%;
      }
    }
  }
}
// --------About Section--------
// -----------------------------
section.about {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../img/demo.jpg) no-repeat fixed;
    background-color: red;
    z-index: -1;
    opacity: 0.4;
  }
  .wrapper {
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: min(1000px, 90vw);
    margin-inline: auto;

    @media (min-width: 850px) {
      flex-direction: row;

      img {
        min-width: 200px;
      }
    }
  }
  .pics {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-content: center;

    img {
      object-fit: cover;
      // height: 300px;
      width: 100%;
      border-radius: 0.5rem;
      aspect-ratio: 4 / 3;
    }
  }
  .paragraph {
    font-size: 1rem;
    color: var(--clr-drk);
    color: #333;

    p {
      margin-top: 0.7rem;
      line-height: 1.4;
      .strong {
        color: var(--clr-pri);
        font-weight: 700;
      }
    }
  }
  .btn {
    margin-top: 1.5rem;
  }
}
// --------About Section--------
// -----------------------------
section.specials {
  .wrapper {
    text-align: center;
    width: 100%;
  }
  .cards {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: min(1200px, 85vw);
    margin-inline: auto;

    @media (min-width: 576px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .card {
    cursor: default;
    height: max-content;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5px 5px #0002;
    transition: translate 0.1s ease-in-out;
    &:hover {
      box-shadow: 0 5px 8px #0005;
      translate: 0 -4px;
    }
  }
  img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  .title {
    font-size: var(--fs-l);
    font-weight: 700;
    margin-top: 0.5rem;
  }
  .pricing {
    margin-top: 0.3rem;
  }
  .btns {
    margin: 0.5rem;
  }
  .btn.alt {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
}
// -----Basic Media Queries-----
// -----------------------------
section.platters {
  .wrapper {
    text-align: center;
    width: 100%;
  }
  .cards {
    margin-top: 3rem;
    max-width: min(1200px, 85vw);
    margin-inline: auto;
  }
  .card {
    position: relative;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background-color: #fe2;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .item {
    flex-grow: 1;
    text-align: left;
    margin-right: calc(90px - 1rem);

    .item-name {
      font-weight: 700;
    }
    .description {
      margin-top: 0.3rem;
    }
    .timing {
      margin-top: 0.25rem;
      opacity: 0.7;
    }
  }

  .pricing {
    position: absolute;
    font-size: var(--fs-s);
    color: var(--clr-lit);
    font-weight: 700;
    background-color: var(--clr-pri);
    height: 100%;
    top: 0;
    right: 0;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .bdt {
      font-size: var(--fs-m);
      margin-right: 0.25rem;
    }
  }
}
// -----Basic Media Queries-----
// -----------------------------
@media print {
  .header {
    justify-content: center;

    & > *:not(.page-logo) {
      display: none;
    }
  }
}
// --------Aside Styles---------
// -----------------------------
.aside {
  .backdrop {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    background-color: var(--clr-drk);
  }
  .backdrop.active {
    visibility: visible;
    opacity: 0.75;
  }
  .dialogue {
    opacity: 0;
    visibility: hidden;
    font-size: 2rem;
    position: fixed;
    z-index: 49;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--clr-lit);
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background-color: #0009;
    transition: all 0.2s ease-in-out;
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }
