//Variables
body {
  --clr-bg: #c8c8c8;
  --clr-pri: #ff0000;
  --clr-lit: #fff;
  --clr-drk: #000;
  --fs-s: 1rem;
  --fs-s: 1rem;
  --fs-m: 1.25rem;
  --fs-l: 1.5rem;
  --fs-xl: 1.75rem;
  --fs-xxl: 2rem;
  --fs-xxxl: 4rem;
}

// Third Party
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300+700&display=swap");

//Default Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  fill: currentColor;
}
a:active,
a:hover,
a:focus {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
aside{
  display: none;
}

// Styles
body {
  background-color: var(--clr-bg);
  // overflow-x: hidden;
}

//Header Styles
.header {
  background-color: transparent;
  padding-inline: clamp(1.25rem, 3vw, 10rem);
  padding-block: 1rem;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  gap: 2rem;
  width: 100%;
  color: var(--clr-lit);

  * {
    color: inherit;
  }

  .page-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-shadow: 0 0 1rem green;
  }
  svg {
    height: 2.125rem;
    width: 2.125rem;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    display: inline;
    font-size: var(--fs-xl);
  }
  .fa-burger {
    font-size: var(--fs-xl);
    border-radius: 0.5rem;
    padding: 0.1rem;
    margin-right: 0.5rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    // To make the gradient
    background: linear-gradient(
      180deg,
      rgba(223, 196, 7, 1) 0%,
      rgba(223, 196, 7, 1) 45%,
      rgba(5, 255, 0, 1) 45%,
      rgba(5, 255, 0, 1) 70%,
      rgba(223, 196, 7, 1) 70%,
      rgba(223, 196, 7, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    // -webkit-text-fill-color: transparent;

    &:hover {
      color: var(--clr-lit);
    }
  }
  .nav {
    font-size: var(--fs-m);
    position: fixed;
    display: flex;
    z-index: -1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    bottom: 0;
    left: 100%;
    background-color: white;
    padding-top: 10rem;
    overflow-y: auto;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;

    &.active {
      transform: translateX(-100%);

      & ~ .fa-burger {
        color: var(--clr-drk);
      }
    }

    a {
      text-align: center;
      color: var(--clr-drk);
      transition: color 0.2s ease-in-out;
      padding-block: 0.5rem;
      width: 70vw;

      &:hover {
        color: rgba(#000, 0.7);
      }
    }
  }
  // Header Media Queries
  @media (min-width: 780px) {
    .nav {
      position: static;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      z-index: auto;
      background-color: transparent;
      padding-top: 0;
      width: 50vw;
      overflow-y: visible;
      transform: translateX(0);
      transition: all 0s ease 0s;
      a {
        width: auto;
        color: var(--clr-lit);
        padding-inline: 0.75rem;
        padding-block: 0.25rem;
        &:hover{
        color: rgba(#fff, 0.7);
      }
      }
    }
    .fa-burger {
      display: none;
    }
  }
}

// Hero Styles
.hero {
  .wrapper {
    min-height: 100vh;
    width: 100%;
  }
  .item {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center bottom;
    color: var(--clr-lit);
    display: flex;
    align-items: center;
    justify-content: center;
    
    &-1 {
      background-image: url(./img/hero-1.jpg);
    }
    &-2 {
      background-image: url(./img/hero-2.jpg);
    }
    
    * {
      border: #fff 1px solid;
    }
    
    .content {
      margin: 2rem;
    }
    .title {
      font-size: clamp(3rem, 10vw, 4.5rem);
      font-family: "Bebas Neue", sans-serif;
      line-height: 1.1;
      text-transform: uppercase;
      text-shadow: 0 0.25rem 0.3rem rgba(#000, 0.3);
      
      padding: 0.5rem;
      margin-block: 0.5rem;
      width: fit-content;
    }
  }
}

// Basic Media Queries

@media print {
  .header {
    justify-content: center;

    & > *:not(.page-logo) {
      display: none;
    }
  }
}
