//Variables
body {
  --clr-bg: #c8c8c8;
  --clr-pri: #ff0000;
  --clr-lit: #fff;
  --clr-drk: #000;
  --fs-s: 1rem;
  --fs-s: 1rem;
  --fs-m: 1.25rem;
  --fs-l: 1.5rem;
  --fs-xl: 1.75rem;
  --fs-xxl: 2rem;
}
//Prevent Default Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  background-color: transparent;
  color: inherit;
}

// Styles
body {
  background-color: var(--clr-bg);
  overflow-x: hidden;
}

//Header Styles
.header {
  background-color: var(--clr-lit);
  padding-inline: clamp(1.25rem, 3vw, 10rem);
  padding-block: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  gap: 2rem;
  width: 100%;

  .page-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  img {
    height: 2rem;
  }
  h2 {
    display: inline;
    margin: 0;
    color: var(--clr-pri);
    font-size: var(--fs-xxl);
    font-weight: 700;
  }
  .fa-burger {
    font-size: var(--fs-xl);
    color: var(--clr-pri);
    border: 0.175rem solid var(--clr-pri);
    border-radius: 0.5rem;
    padding: 0.1rem;
    margin-right: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--clr-drk);
      border-color: var(--clr-drk);
    }
  }
  .nav {
    font-size: var(--fs-m);
    display: none;

    a {
      color: var(--clr-drk);
      transition: all 0.2s ease-in-out;
      position: relative;
      padding-inline: 0.75rem;
      padding-block: 0.25rem;

      &:hover {
        color: var(--clr-pri);
      }
    }
  }

  @media only screen and (min-width: 780px) {
    .nav {
      display: flex;
    }
    .fa-burger {
      display: none;
    }
  }
}

// Basic Media Queries

@media print {
  .header {
    justify-content: center;

    & > *:not(.page-logo) {
      display: none;
    }
  }
}
