@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300+700&display=swap");
body {
  --clr-bg: #c8c8c8;
  --clr-pri: #ff0000;
  --clr-lit: #fff;
  --clr-drk: #000;
  --fs-s: 1rem;
  --fs-s: 1rem;
  --fs-m: 1.25rem;
  --fs-l: 1.5rem;
  --fs-xl: 1.75rem;
  --fs-xxl: 2rem;
  --fs-xxxl: 4rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  fill: currentColor;
}

a:active,
a:hover,
a:focus {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

aside {
  display: none;
}

body {
  background-color: var(--clr-bg);
}

.header {
  background-color: transparent;
  padding-inline: clamp(1.25rem, 3vw, 10rem);
  padding-block: 1rem;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  width: 100%;
  color: var(--clr-lit);
}

.header * {
  color: inherit;
}

.header .page-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  text-shadow: 0 0 1rem green;
}

.header svg {
  height: 2.125rem;
  width: 2.125rem;
}

.header h2 {
  font-family: "Roboto", sans-serif;
  display: inline;
  font-size: var(--fs-xl);
}

.header .fa-burger {
  font-size: var(--fs-xl);
  border-radius: 0.5rem;
  padding: 0.1rem;
  margin-right: 0.5rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#dfc407), color-stop(45%, #dfc407), color-stop(45%, #05ff00), color-stop(70%, #05ff00), color-stop(70%, #dfc407), to(#dfc407));
  background: linear-gradient(180deg, #dfc407 0%, #dfc407 45%, #05ff00 45%, #05ff00 70%, #dfc407 70%, #dfc407 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header .fa-burger:hover {
  color: var(--clr-lit);
}

.header .nav {
  font-size: var(--fs-m);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 0;
  bottom: 0;
  left: 100%;
  background-color: white;
  padding-top: 10rem;
  overflow-y: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.header .nav.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header .nav.active ~ .fa-burger {
  color: var(--clr-drk);
}

.header .nav a {
  text-align: center;
  color: var(--clr-drk);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  padding-block: 0.5rem;
  width: 70vw;
}

.header .nav a:hover {
  color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 780px) {
  .header .nav {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: auto;
    background-color: transparent;
    padding-top: 0;
    width: 50vw;
    overflow-y: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
  .header .nav a {
    width: auto;
    color: var(--clr-lit);
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
  }
  .header .nav a:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  .header .fa-burger {
    display: none;
  }
}

.hero .wrapper {
  min-height: 100vh;
  width: 100%;
}

.hero .item {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center bottom;
  color: var(--clr-lit);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .item-1 {
  background-image: url(./img/hero-1.jpg);
}

.hero .item-2 {
  background-image: url(./img/hero-2.jpg);
}

.hero .item * {
  border: #fff 1px solid;
}

.hero .item .content {
  margin: 2rem;
}

.hero .item .title {
  font-size: clamp(3rem, 10vw, 4.5rem);
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.1;
  text-transform: uppercase;
  text-shadow: 0 0.25rem 0.3rem rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  margin-block: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media print {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header > *:not(.page-logo) {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */